.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
}

.unsupported {
  display: none;
}

@media screen and (max-width: 359px) {
  .Calculator {
    display: none;
  }

  .App {
    display: block;
    width: auto;
    height: auto;
  }

  .unsupported {
    display: block;
  }
}
