* {
  box-sizing: border-box;
}

html {
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #cccccc;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
}
